<div class="container">
    <div class="row">
        <div class="col-md-6" *ngFor="let item of posts">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://picsum.photos/300/200" style="height: 100%" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">{{item.title}}</h2>
                            <p class="card-text">{{item.body}}</p>
                            <p class="card-text"><small class="text-muted">By John Doe | April 19, 2023</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>